.boxed-view {
    align-items: center;
    background: $boxed-view-overlay-bg;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.boxed-view--modal {
    background: fade-out($color: $boxed-view-overlay-bg, $amount: 0.3);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.boxed-view__box {
    background: $boxed-view-bg;
    padding: 2.4rem;
    text-align: center;
    width: 24rem;
}

.boxed-view__form {
    display: flex;
    flex-direction: column;
}
